/* Suppplier onboarding CSS */
symbol{
    color: red;
}
input{
    font-size: 1em;
}
textarea{
    font-size: 1vw;
}
.heading{
    font-size: 2vw;
    text-align: center;
    width: 100%;
}
.content{
    border: solid black 1px;
    padding: 1em;
    font-size: 1em;
}
@media(max-width:576px){
    input,textarea{
        font-size:1.5rem;
    }
    .content,.heading{
        font-size: 0.98rem;
    }
}
/* Suppplier onboarding CSS */
